{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <title>الماس للعقار</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'user/img/logo_almas_3.png' %}" alt="" width="">
                </a>
            </div>
            <div class="links">
                <ul>
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#">أصحاب العقار</a></li>
                    <li><a href="#">طلب عقد إلكتروني</a></li>
                    <li><a href="#">تواصل معنا</a></li>
                    <li><a href="#">من نحن</a></li>
                </ul>
            </div>
            <div class="buttons">
                <button>إضافة عقار</button>
                <button>تسجيل الدخول</button>
            </div>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
        </div>
    </header>
    <main>
        <!-- main fixing somthing here about git -->

    </main>
<footer> 
    <div class="footer-container">
        <div class="footer-section logo-section">
            <img src="{% static 'user/img/logo_almas_3.png' %}" alt="الماس للعقار" />
            <p>الماس للعقار - خبرة ومصداقية في خدمتك</p>
        </div>
        <div class="footer-section links-section">
            <h3>روابط سريعة</h3>
            <ul>
                <li><a href="#">الرئيسية</a></li>
                <li><a href="#">أصحاب العقار</a></li>
                <li><a href="#">طلب عقد إلكتروني</a></li>
                <li><a href="#">تواصل معنا</a></li>
                <li><a href="#">من نحن</a></li>
            </ul>
        </div>
        <div class="footer-section contact-section">
            <h3>تواصل معنا</h3>
            <p>الهاتف: 123456789</p>
            <p>البريد الإلكتروني: info@almas.com</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>جميع الحقوق محفوظة © الماس للعقار 2025</p>
    </div>
</footer>

    
</body>
</html>